<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li class="active">
                    <a href="#dashboard">
                        <i class="iconsminds-shop-4"></i>
                        <span>Dashboards</span>
                    </a>
                </li>
                <li>
                    <a href="#layouts">
                        <i class="simple-icon-basket-loaded"></i> Orders
                    </a>
                </li>
                <li>
                    <a href="#applications">
                        <i class="simple-icon-exclamation"></i> NDR
                    </a>
                </li>
                <li>
                    <a href="#ui">
                        <i class="simple-icon-credit-card"></i> COD
                    </a>
                </li>
                <li>
                    <a href="#menu">
                        <i class="simple-icon-calculator"></i> Billing
                    </a>
                </li>
                <li>
                    <a href="#wallet">
                        <i class="simple-icon-wallet"></i> Wallet
                    </a>
                </li>

                <li>
                    <a href="#helpcenter">
                        <i class="iconsminds-support"></i> Help Center
                    </a>
                </li>

                <li>
                    <a href="#vas">
                        <i class="simple-icon-star"></i> VAS
                    </a>
                </li>
                <li>
                    <a href="#setting">
                        <i class="iconsminds-security-settings"></i> Settings
                    </a>
                </li>

                <li>
                    <a href="https://dore-jquery-docs.coloredstrategies.com" target="_blank">
                        <i class="iconsminds-book"></i> Docs
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sub-menu">
        <div class="scroll">
            <ul class="list-unstyled" data-link="dashboard">
                <!-- <li class="active">
                        <a href="Dashboard.Default.html">
                            <i class="simple-icon-rocket"></i> <span class="d-inline-block">Default</span>
                        </a>
                    </li> -->
                <li class="active">
                    <a href="/index">
                        <i class="simple-icon-graph"></i> <span class="d-inline-block">Order Analytics</span>
                    </a>
                </li>
                <li>
                    <a href="/ecom/all-data">
                        <i class="simple-icon-grid"></i> <span class="d-inline-block">All Order</span>
                    </a>
                </li>
                <!-- <li>
                        <a href="order-summary">
                            <i class="simple-icon-doc"></i> <span class="d-inline-block">Content</span>
                        </a>
                    </li>                 -->
            </ul>
            <ul class="list-unstyled" data-link="layouts" id="layouts">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                        aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50">
                        <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Pre-Dispatch Orders</span>
                    </a>
                    <div id="collapseAuthorization" class="collapse show">
                        <ul class="list-unstyled inner-level-menu">
                            <li>
                                <a href="/ecom/create-order">
                                    <i class="simple-icon-plus"></i> <span class="d-inline-block">Single
                                        Order</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ecom/create-bulk-order">
                                    <i class="simple-icon-layers"></i> <span class="d-inline-block">Bulk
                                        Orders</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ecom/unprocessed-orders">
                                    <i class="simple-icon-clock"></i> <span class="d-inline-block">Unprocessed
                                        Orders</span>
                                </a>
                            </li>

                            <li>
                                <a href="/ecom/ready_to_dispatch_assinged_lr">
                                    <i class="simple-icon-rocket"></i> <span class="d-inline-block">Ready To
                                        Dispatch</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="true"
                        aria-controls="collapseProduct" class="rotate-arrow-icon opacity-50">
                        <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Post-Dispatch Orders</span>
                    </a>
                    <div id="collapseProduct" class="collapse show">
                        <ul class="list-unstyled inner-level-menu">
                            <li>
                                <a href="/ecom/order-In-transit">
                                    <i class="simple-icon-plane"></i> <span class="d-inline-block">In-Transit</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ecom/out-for-delivery">
                                    <i class="simple-icon-truck"></i> <span class="d-inline-block">
                                        Out For Delivery</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ecom/order-delivered">
                                    <i class="simple-icon-check"></i> <span class="d-inline-block">Delivered</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ecom/order-return">
                                    <i class="simple-icon-action-undo"></i> <span class="d-inline-block">RTO</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ecom/cancelled-orders">
                                    <i class="simple-icon-close"></i> <span class="d-inline-block">Cancelled</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
            <ul class="list-unstyled" data-link="applications">
                <li>
                    <a href="Apps.MediaLibrary.html">
                        <i class="simple-icon-picture"></i> <span class="d-inline-block">Library</span>
                    </a>
                </li>
                <li>
                    <a href="Apps.Todo.List.html">
                        <i class="simple-icon-check"></i> <span class="d-inline-block">Todo</span>
                    </a>
                </li>
                <li>
                    <a href="Apps.Survey.List.html">
                        <i class="simple-icon-calculator"></i> <span class="d-inline-block">Survey</span>
                    </a>
                </li>
                <li>
                    <a href="Apps.Chat.html">
                        <i class="simple-icon-bubbles"></i> <span class="d-inline-block">Chat</span>
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled" data-link="ui">

                <li>
                    <a href="/cod-summary">
                        <i class="simple-icon-pie-chart"></i> <span class="d-inline-block">COD Summary</span>
                    </a>
                </li>
                <li>
                    <a href="/bank-reconsilation">
                        <i class="simple-icon-clock"></i> <span class="d-inline-block">Bank Reconciliation</span>
                    </a>
                </li>
                <li>
                    <a href="/to-be-remitted">
                        <i class="simple-icon-clock"></i> <span class="d-inline-block">To Be Remitted</span>
                    </a>
                </li>
                <li>
                    <a href="/remitted">
                        <i class="simple-icon-check"></i> <span class="d-inline-block">Remitted</span>
                    </a>
                </li>

            </ul>

            <ul class="list-unstyled" data-link="menu" id="menuTypes">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#collapseMenuTypes" aria-expanded="true"
                        aria-controls="collapseMenuTypes" class="rotate-arrow-icon">
                        <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Menu Types</span>
                    </a>
                    <div id="collapseMenuTypes" class="collapse show" data-parent="#menuTypes">
                        <ul class="list-unstyled inner-level-menu">



                        </ul>
                    </div>
                </li>

            </ul>


            <ul class="list-unstyled" data-link="cod">
                <li>
                    <a href="#cod-orders">
                        <i class="simple-icon-credit-card"></i> <span class="d-inline-block">COD Orders</span>
                    </a>
                </li>
                <li>
                    <a href="#cod-collection">
                        <i class="simple-icon-wallet"></i> <span class="d-inline-block">Collections</span>
                    </a>
                </li>
                <li>
                    <a href="#cod-reports">
                        <i class="simple-icon-chart"></i> <span class="d-inline-block">Reports</span>
                    </a>
                </li>
                <li>
                    <a href="#cod-settings">
                        <i class="iconsminds-settings"></i> <span class="d-inline-block">Settings</span>
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled" data-link="billing">
                <li>
                    <a href="/invoices">
                        <i class="simple-icon-notebook"></i> <span class="d-inline-block">Invoices</span>
                    </a>
                </li>
                <li>
                    <a href="/payments">
                        <i class="simple-icon-credit-card"></i> <span class="d-inline-block">Payments</span>
                    </a>
                </li>
                <li>
                    <a href="/reports">
                        <i class="simple-icon-chart"></i> <span class="d-inline-block">Reports</span>
                    </a>
                </li>
                <li>
                    <a href="/transactions">
                        <i class="simple-icon-refresh"></i> <span class="d-inline-block">Transactions</span>
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled" data-link="wallet">
                <li>
                    <a href="/wallet-balance">
                        <i class="simple-icon-wallet"></i> <span class="d-inline-block">Balance</span>
                    </a>
                </li>
                <li>
                    <a href="/recharge">
                        <i class="simple-icon-plus"></i> <span class="d-inline-block">Recharge</span>
                    </a>
                </li>
                <li>
                    <a href="/transactions">
                        <i class="simple-icon-refresh"></i> <span class="d-inline-block">History</span>
                    </a>
                </li>

            </ul>
            <ul class="list-unstyled" data-link="helpcenter">
                <li>
                    <a href="#faq">
                        <i class="simple-icon-question"></i> <span class="d-inline-block">Raise A Ticket</span>
                    </a>
                </li>
                <li>
                    <a href="#contact-support">
                        <i class="simple-icon-call-end"></i> <span class="d-inline-block">View Support Tickets</span>
                    </a>
                </li>
                <li>
                    <a href="#documentation">
                        <i class="simple-icon-book-open"></i> <span class="d-inline-block">View Helpdesk</span>
                    </a>
                </li>
                <li>
                    <a href="#feedback">
                        <i class="simple-icon-bubbles"></i> <span class="d-inline-block">Feedback</span>
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled" data-link="vas">
                <li>
                    <a href="#tracking-plus">
                        <i class="simple-icon-compass"></i> <span class="d-inline-block">Advanced Tracking</span>
                    </a>
                </li>
                <li>
                    <a href="#analytics">
                        <i class="simple-icon-graph"></i> <span class="d-inline-block">Analytics</span>
                    </a>
                </li>
                <li>
                    <a href="#api-integration">
                        <i class="simple-icon-share"></i> <span class="d-inline-block">API Integration</span>
                    </a>
                </li>
                <li>
                    <a href="#custom-reports">
                        <i class="simple-icon-doc"></i> <span class="d-inline-block">Custom Reports</span>
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled" data-link="setting">
                <!-- <li>
                    <a href="/forwarder-onboarding">
                        <i class="simple-icon-user-following"></i> <span class="d-inline-block">Add Courier Partner</span>
                    </a>
                </li>
                <li>
                    <a href="/forwarder-onboarding">
                        <i class="simple-icon-plane"></i> <span class="d-inline-block">Add Logistics Partner</span>
                    </a>
                </li> -->
                <li>
                    <a href="/forwarder-list">
                        <i class="simple-icon-present"></i> <span class="d-inline-block">Courier Partners</span>
                    </a>
                </li>
                <li>
                    <a href="/aggrigator-list">
                        <i class="simple-icon-note"></i> <span class="d-inline-block">Logistics Partners</span>
                    </a>
                </li>
                <li>
                    <a href="/courier-settings">
                        <i class="simple-icon-wrench"></i> <span class="d-inline-block">Logistics Partner Settings</span>
                    </a>
                </li>
                <li>
                    <a href="/package">
                        <i class="iconsminds-suitcase"></i> <span class="d-inline-block">Rate Packages</span>
                    </a>
                </li>
              
                <li>
                    <a href="/client-onboarding">
                        <i class="simple-icon-user-follow"></i> <span class="d-inline-block">Add Client</span>
                    </a>
                </li>
                <li>
                    <a href="/client-list">
                        <i class="simple-icon-people"></i> <span class="d-inline-block">Clients</span>
                    </a>
                </li>
                <li>
                    <a href="/warehouse">
                        <i class="simple-icon-home"></i> <span class="d-inline-block">Warehouse</span>
                    </a>
                </li>
                <li>
                    <a href="/tracking-master">
                        <i class="simple-icon-magnifier"></i> <span class="d-inline-block">Tracking</span>
                    </a>
                </li>
                <li>
                    <a href="/eshop-integration">
                        <i class="simple-icon-globe"></i> <span class="d-inline-block">E-shop Integration</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="/docket-master">
                        <i class="simple-icon-notebook"></i> <span class="d-inline-block">Docket Master</span>
                    </a>
                </li> -->
                <li>
                    <a href="/shipping-label">
                        <i class="simple-icon-tag"></i> <span class="d-inline-block">Shipping Label</span>
                    </a>
                </li>
              
              
                <li>
                    <a href="/pincode-master">
                        <i class="simple-icon-location-pin"></i> <span class="d-inline-block">Pincode Master</span>
                    </a>
                </li>
            </ul>


        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      // ------------- helpers -------------
      const $ = (sel, ctx = document) => ctx.querySelector(sel);
      const $$ = (sel, ctx = document) => Array.from(ctx.querySelectorAll(sel));
  
      function clearAllActive() {
        $$(".main-menu .list-unstyled li.active").forEach(li => li.classList.remove("active"));
        $$(".sub-menu  .list-unstyled li.active").forEach(li => li.classList.remove("active"));
      }
  
      function hideAllSubmenus() {
        $$(".sub-menu .list-unstyled[data-link]").forEach(ul => ul.style.display = "none");
      }
  
      function showSubmenu(key) {
        hideAllSubmenus();
        const ul = $(`.sub-menu .list-unstyled[data-link='${key}']`);
        if (ul) ul.style.display = "block";
      }
  
      function setActiveMainByKey(key) {
        // main-menu anchor whose href="#key"
        const a = $(`.main-menu a[href="#${key}"]`);
        if (!a) return;
        $$(".main-menu .list-unstyled li").forEach(li => li.classList.remove("active"));
        a.parentElement.classList.add("active");
      }
  
      function setActiveSubByHref(pathname) {
        // exact match first
        let link = $(`.sub-menu a[href="${pathname}"]`);
        if (!link) {
          // fallback: starts-with match (e.g. query params)
          link = $$('.sub-menu a').find(a => pathname && a.getAttribute('href') && pathname.startsWith(a.getAttribute('href')));
        }
        if (link) {
          // mark the clicked sub li active
          $$(".sub-menu .list-unstyled li").forEach(li => li.classList.remove("active"));
          link.parentElement.classList.add("active");
  
          // find its submenu key and set main active + show submenu
          const ul = link.closest('.list-unstyled[data-link]');
          if (ul) {
            const key = ul.getAttribute('data-link');
            setActiveMainByKey(key);
            showSubmenu(key);
            return true;
          }
        }
        return false;
      }
  
      // ------------- initial state -------------
      hideAllSubmenus();
      clearAllActive();
  
      // Try to activate by current URL (e.g. /ecom/all-data)
      const activated = setActiveSubByHref(window.location.pathname);
  
      // If nothing matched current URL, default to dashboard
      if (!activated) {
        setActiveMainByKey('dashboard');
        showSubmenu('dashboard');
        // dashboard के अंदर first li को active कर दो (Order Analytics)
        const firstDash = $(`.sub-menu .list-unstyled[data-link="dashboard"] li`);
        if (firstDash) firstDash.classList.add('active');
      }
  
      // ------------- click handlers -------------
  
      // Main menu: just toggle submenus & active (no navigation)
      $$(".main-menu .list-unstyled li > a").forEach(a => {
        a.addEventListener("click", function (e) {
          const href = this.getAttribute("href") || "";
          if (!href.startsWith("#")) return; // external links like Docs — let them go
  
          e.preventDefault();
          const key = href.substring(1); // "#layouts" -> "layouts"
          setActiveMainByKey(key);
          showSubmenu(key);
  
          // Sub-menu में कोई पहले से active न हो तो पहला item active कर दो (visual)
          const ul = $(`.sub-menu .list-unstyled[data-link='${key}']`);
          if (ul) {
            const anyActive = ul.querySelector("li.active");
            if (!anyActive) {
              const first = ul.querySelector("li");
              if (first) {
                $$(".sub-menu .list-unstyled li").forEach(li => li.classList.remove("active"));
                first.classList.add("active");
              }
            }
          }
        });
      });
  
      // Sub-menu: active mark; navigation होने दो
      // reload के बाद current URL से फिर से active लग जाएगा
      $$(".sub-menu .list-unstyled li > a").forEach(a => {
        a.addEventListener("click", function () {
          $$(".sub-menu .list-unstyled li").forEach(li => li.classList.remove("active"));
          this.parentElement.classList.add("active");
          // (optional) localStorage में याद रखें
          localStorage.setItem("lastSubHref", this.getAttribute("href") || "");
        });
      });
  
      // ------------- restore last clicked (optional) -------------
      const last = localStorage.getItem("lastSubHref");
      if (last && last !== "/" && last !== window.location.pathname) {
        // अगर आप चाहें तो directly navigate भी कर सकते हैं:
        // window.location.href = last;
        // अभी सिर्फ highlight try:
        setActiveSubByHref(last);
      }
    });
  </script>
  