<!-- Test Layout Page -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Layout Test Page</h4>
                </div>
                <div class="card-body">
                    <p>If you can see this page with proper styling and layout, then the layout system is working correctly.</p>
                    <p>This page should have:</p>
                    <ul>
                        <li>Header with navigation</li>
                        <li>Left sidebar with menu items</li>
                        <li>Right icon bar</li>
                        <li>Footer</li>
                        <li>Proper CSS styling</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
